
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;

    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.progress-bar {
    width: 0;
    height: 5px;
    background-color: black;
}

.item {
    position: relative;
    width: 100%;
    height: 95vh;
}

.name {
    position: absolute;
    top: 50%;
    left: 40%;
}

.owl-theme {


}


.png {
    background-image: url("slid3.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


}

h2 {
    color: white;
    font-size: 60px;
}

.header {

    /*background-color: cornflowerblue;*/
    /*left: 50%;*/
    z-index: 2;
    width: 100%;
    height: 100px;
    /*background-color: deeppink;*/
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;






}
.scrol-color{
   background-color: rgba(0, 0, 0, 0.89);
    backdrop-filter: blur(3px);

}

.transparant-logo {
    height: 100%;
    width: 100%;
}

.esas {
    height: 99vh;
    width: 100%;

}

.righht-header {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    /*display: none;*/
}

.left-header {
    width: 80px;
    height: 80px;
}

.linkler {
    color: white;
    font-size: 22px;
}

.drop-down {
    z-index: 2;

    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 300px;
    justify-content: center;
    position: fixed;
    /*background-color: yellow;*/


}

.drop-down-content {
    width: 32%;
    height: 200px;
    /*background-color: deeppink;*/
    display: flex;
}

.hakkimizda {
    width: 9%;
    height: 0;
    background-color: #595454;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-evenly;
    visibility: hidden;
    /*display: none;*/
    position: absolute;
    margin-top: 2%;
    overflow: hidden;
    transition-duration: 0.5s;


}

.drop-hakimizda:hover .hakkimizda {
    visibility: visible;
    height: 200px;
    transition-duration: 0.5s;
}

.faliyet {
    width: 10%;
    height: 0;
    background-color: #595454;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-evenly;
    visibility: hidden;
    position: absolute;
    margin-top: 2%;
    overflow: hidden;
    transition-duration: 0.5s;


}

.drop-falliyet:hover .faliyet {
    visibility: visible;
    height: 200px;
    transition-duration: 0.5s;
}

.urunler {
    width: 10%;
    height: 0;
    background-color: #595454;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-evenly;
    visibility: hidden;
    position: absolute;
    transition-duration: 0.5s;
    margin-top: 2%;
    overflow: hidden;


}

.drop-urunler:hover .urunler {
    visibility: visible;
    transition-duration: 0.5s;
    height: 200px;

}

.text-dropdown {
    font-size: 20px;
    padding-left: 5%;
    color: white;

}

.drop-hakimizda {


}

.ruins {
    visibility: hidden;
}

.text-dropdown {

}


.bize-ulasin {
    width: 50px;
    height: 50px;
    background-color: rgba(9, 39, 227, 0.56);
    transition-duration: 1s;
    border-radius: 200px;
    /*opacity: 0.4;*/
}

.bize {
    width: 160px;
    height: 50px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.bize-ulasin:hover {
    width: 170px;
    transition-duration: 1s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.contackt-bar {
    display: flex;

    width: 600px;
    /*background-color: black;*/
}

.contack-split {
    width: 200px;
}

.whatcap {
    height: 45px;
    width: 45px;

}

.contackt-wp {
    position: fixed;
    bottom: 7%;
    z-index: 2;
    left: 2%;

}

.scrolled {
    background-color: black;
}

.medium {
    /*background-color: cornflowerblue;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/


}

.med-centre {
    width: 70%;
    /*background-color: grey;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}

.services {
    width: 100%;
    /*background-color: yellow;*/
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.hizmetler {
    width: 30%;
    height: 100%;
    background-color: blue;
    z-index: 0;
    position: relative;
    transition-duration: 0.4s;
}

.img-services {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}

.hizmetler:hover {
    transform: scale(107%);
    transition-duration: 0.4s;
}

.services-text {
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    /*border: 2px solid red;*/

}

.mid-text {
    /*background-color: red;*/
    width: 100%;

    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.text-services {
    /*background-color: brown;*/
    width: 50%;
    height: max-content;
}

.s-text1 {
    font-size: 35px;
    color: black;
    width: 90%;
}

.s-text2 {
    font-size: 18px;
    color: black;
    width: 90%;
    margin-top: 5%;
}

.s-text3 {
    margin-top: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(9, 39, 227, 0.56);
    display: flex;
    justify-content: start;
    align-items: center;
    transition-duration: 1s;
}

.radius-text {
    padding-left: 20px;
    color: black;


}

.s-text3:hover {
    width: 200px;
    transition-duration: 1s;
}

.mid-png {
    height: max-content;
    width: 50%;
    display: flex;
    justify-content: end;
}

.mid-png-1 {
    height: 100%;
    width: 60%;
}

.ne-saglioruz {
    width: 100%;
    /*background-color: yellow;*/
    margin-top: 5%;


}

.ne-text {
    display: flex;
    justify-content: center;
}

.text-nei {
    font-size: 32px;
    color: black;


}

.xidmet-services {
    width: 100%;
    /*background-color: greenyellow;*/
}

.xidmet-services {

    width: 33.2%;
    height: 200px;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 2s;
    position: relative;
    overflow: hidden;
    margin-top: 0.1%;


}

.pop-up {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    transition: .3s ease;
    transform: scale(1.5);
}

.p-text {
    width: 75%;
    color: white;
}

.xidmet-services:hover .pop-up {
    opacity: 1;
    width: 100%;
    transform: scale(1);
    transition: .3s ease;
}

.xidmetler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;

}

.in-text {
    font-size: 23px;
    color: white;

}

.nomre1 {
    width: 0;
    height: 0;
    background-color: #0aa80a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    opacity: 1;
    border-radius: 50px;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 20px;

}

.num {
    color: white;
    width: 200px;
    height: 15px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;

}

.number1 {
    opacity: 1;
    width: 170px;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;

}

.button {
    width: 200px;
    height: 70px;
    background-color: #0aa80a;
    transition: ease-in-out 0.5s;

}

.button1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rui {
    background-color: grey;
    margin-left: 500px;
}

.flo {
    margin-top: 200px;
}

.glo {
    margin-top: -0;
}

.form-media {

    width: 100%;
    height: 100%;
    /*background-color: #0aa80a;*/
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.form-centre {

    width: 70%;
    /*background-color: greenyellow;*/
    display: flex;
}

.forum {
    width: 60%;
    height: 100%;
    /*background-color: cornflowerblue;*/
}

.form-foto {
    width: 40%;
    height: 91%;
    /*background-color: yellow;*/
    margin: auto;
    /*background-color: #0aa80a;*/


}

.input1 {
    width: 70%;
    height: 45px;
}

.forum-elements {
    width: 85%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: column;
    margin-left: 7%;
    /*background-color: white;*/
    height: 70%;
    /*background-color: #0aa80a;*/
    margin-bottom: 8%;

}

.text-forum {
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    flex-direction: column;
    /*margin-top: 7%;*/
    background-color: white;
    width: 80%;
    margin: 5% auto;
    box-shadow: 0px 0px 18px -1px rgb(19, 19, 19);
    height: 91%;


}

.input1 {
    margin-top: 10%;
    background-color: #eae5e5;
    font-size: 17px;
    color: #797474;
    padding-left: 10px;
}

.ad-soyad {

    height: 65px;
}

.parola {
    display: flex;
}

.sifre {
    width: 32.5%;
    height: 45px;

}

.suol {
    margin-left: 5%;
}

.iletisim {
    margin-left: 7%;
    font-size: 25px;
    margin-top: 2%;

}

.heait {
    height: 200px;
    max-width: 70%;
    max-height: 400px;
    resize: both;
    width: 70%;
    min-width: 70%;
    padding-top: 2%;
}

.submit {
    width: 30%;
    background-color: #f32424;
    height: 50px;
    transition: ease-in-out 0.3s;
    color: white;


}

.submit:hover {
    background-color: black;
    color: #eae5e5;
}

.img-form {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;


}

.qalerya-div {
    width: 100%;
    /*background-color: #0aa80a;*/
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.qalerya-cntre {
    width: 70%;
    height: 100%;
    /*background-color: #eae5e5;*/


}

.qalerya-sekiller {
    width: 100%;
    /*background-color: #f32424;*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    transition: ease-in-out 1s;

}

.qalerya-fotos, .qalerya-fotos1, .qalerya-fotos2, .qalerya-fotos3, .qalerya-fotos4, .qalerya-fotos5, .qalerya-fotos6, .qalerya-fotos7, .qalerya-fotos8, .qalerya-fotos9 {
    width: 33.3%;
    height: 350px;

    position: relative; /* Container olarak relative */
    z-index: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 1px 1px;
    transition: ease-in-out 1s;


}

.resimler {
    height: 100%;
    width: 100%;
    padding: 4px 4px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 1s;
}

.zoom {
    width: 10%;
    height: 12%;


    margin: auto;
}

.img-scale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    background-color: rgba(91, 84, 84, 0.24);
    /*display: flex;*/
    position: absolute;
    z-index: 2;
    top: 0; /* Daha alt konumlandırma */
    left: 0;
    transition: ease-in-out 0.3s;
    overflow: hidden;

}

.qalerya-fotos:hover .img-scale,
.qalerya-fotos1:hover .img-scale,
.qalerya-fotos2:hover .img-scale,
.qalerya-fotos3:hover .img-scale,
.qalerya-fotos4:hover .img-scale,
.qalerya-fotos5:hover .img-scale,
.qalerya-fotos6:hover .img-scale,
.qalerya-fotos7:hover .img-scale,
.qalerya-fotos8:hover .img-scale,
.qalerya-fotos9:hover .img-scale {
    height: 100%;
}

.zoom-zoom {
    width: 67%;
    height: 700px;

    /*top: 0;*/
    /*left: 0;*/
    z-index: 2;
    transition: ease-in-out 1s;
    position: absolute;


}

.galeri {
    margin: 5% auto;
    width: 100px;
    font-size: 33px;

}

.show1 {
    width: 150px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.show:hover {
    background-color: black;
}

.show {
    width: 150px;
    height: 40px;
    background-color: #f32424;
    color: #eae5e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qalerya-fotos9 {
    display: none;
}

.blog-x {
    width: 120px;
    height: 30px;
    margin: auto;
    font-size: 35px;
    margin-top: 5%;
}

.mobilyalar-full {
    width: 100%;
    /*background-color: #0aa80a;*/
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.mobilyalar-orta {
    width: 70%;
    /*background-color: #f32424;*/
    display: flex;
    flex-direction: column;
}

.mobilya-up {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;

}

.mobilya-fotos {
    width: 30%;
    height: 100%;

}

.mob-img {
    width: 100%;
    height: 100%;
}

.mob-blog {
    width: 100%;
    /*background-color: #797474;*/
    display: flex;
    justify-content: space-between;

}

.mob-panel {
    width: 30%;
    height: 75px;
    background-color: #e5e0e0;
    /*position: relative;*/
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 0.5px solid #706c6c;*/


}

.mob-devam {
    position: relative;
    /*z-index: 2;*/
    /* top: 93%;*/
    /*left: 31%;*/
    height: 30px;
    width: 100%;
    /*background-color: greenyellow;*/
    top: 50%;

}

.mob-text {
    position: relative;
    top: 25%;
    font-size: 27px;
}

.mob-bar {
    width: 0;
    height: 100%;
    background-color: rgb(9, 0, 0);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease-in-out 1s;


    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-text {
    font-size: 20px;
    color: white;

}
.whatcap{ cursor: pointer;}

.mob-panel:hover .mob-bar {
    width: 100%;
    opacity: 1;
}

.slider-full {

    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.slider-mid {
    width: 71%;
    height: 200px;
    /*background-color: #0aa80a;*/
    display: flex;
}

.sliders {
    width: 25%;
    height: 100%;
    padding: 8px 4px;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

.slider {
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.5s;
}

.footer-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #181717;
    margin-top: 5%;
}

.footer-middle {
    width: 70%;
    height: max-content;
    background-color: #181717;
    display: flex;
    justify-content: space-between;


}

.fotter1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2% 0;
    justify-content: space-evenly;
    /*align-items: center;*/
    flex-wrap: wrap;

}

.footer-text {
    margin: 5% 0;
    color: white;
    font-size: 15px;
}

.icon {
    color: white;
    display: flex;
    justify-content: space-between;

}

.footer-text-img {
    width: 120px;
    height: 100px;
    background-size: cover;
    margin-left: 50%;
}
.icon-color{
    color: white;
}

.foter-textt {
    margin-top: 0;


}
.saga-cek{
    margin-left: 24%;
    position: relative;

}


.footer-text-img{
    border-radius: 8px;
    height: 24%;
    margin: auto;
}
.services-text{
    font-weight: 700;
    text-shadow: -9px 0px 5px rgba(0,0,0,1);
    color: white;
}

/*RESPOSIVLIK*/
/*RESPOSIVLIK*/
/*RESPOSIVLIK*/
/*RESPOSIVLIK*/
/*RESPOSIVLIK*/

.header-settings{
    /*position: absolute;*/
    z-index: 9999;
    width: 0;
    /*background-color: #0aa80a;*/
    /*left: -9.5%;*/
    overflow: hidden;
    /*background-color: #0aa80a;*/
    /*height: 80vh;*/
    transition: ease-in-out 0.1s;


}
.div-header{ width: 100%;
    height: 100px;
    position: relative;
    background-color: #797474;

}

.hdst{
    width: 100%;
    transition: ease-in-out 0.1s;
}
.red-back{
    height: 100%;
    width: 0;
    background-color: #fa5f00;
    /*margin-top: 10%;*/
    /*border-bottom-right-radius: 11px;*/
    /*border-top-right-radius: 11px;*/
    transition: ease-in-out 0.9s;
    overflow: hidden;
    position: relative;

}
.back-grey{
    width: 0;
    height: 100% ;
    transition: ease-in-out 0.5s;
    background-color: #fffdfd;
    /*border-bottom-right-radius: 11px;*/
    /*border-top-right-radius: 11px;*/
    position: absolute;
    margin-top: 0;
    overflow: hidden;
}
.greyi{
    width: 95%;
    transition: ease-in-out 0.7s;
    display: flex;
    align-items: center;

}
.green{
    width: 0;
    height: 85%;
    /*background-color: #f32424;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    position: relative;


}
.greennn{
    width: 100%;


}
.heador-respons {
    width: 0;
    height: 100%;
    background-color: #252323;
    position: fixed;
    z-index: 2;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*margin-top: 5.2%;*/
    visibility: hidden;
    overflow: hidden;
    transition: ease-in-out 1s;
    /*border-bottom-right-radius: 11px;*/
    /*border-top-right-radius: 11px;*/
   /*margin-top: 10%;*/





}

.dropdown-tab:hover .drop-down-element {
    transition: ease-in-out 0.5s;

    height: 175px;

}

.drop-down-element {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    text-overflow: ellipsis;
    transition: ease-in-out 0.5s;
    height: 0;
    background-color: #2f2e2e;
    overflow: hidden;
    z-index: 3;

    position:relative;
    border-radius: 9px;


    /*margin-bottom: 20%;*/



}

.text-dropdown1 {
    /*margin-left: 5%;*/
    margin-left: 7%;
    text-align: start;
    width: 100%;
    /*background-color: #797474;*/
    color: white;
    font-size: 18px;


}

.alar{
    width: 100%;
}
.redi{
    width: 95%;
    transition: ease-in-out 0.5s;
}

.header-settings {
/*overflow: hidden;*/

    margin-left: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*margin-top: 35%;*/
}

.text-mobile {
    font-size: 30px;
    margin-top: 1%;
    color: black;
    font-weight: 600;

}

.menu-button {
    width: 45px;
    height: 45px;
    display: none;
    transition: ease-in-out 1s;


}

.menu-img {
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
}


.menui{
    width: 25%;
    transition: ease-in-out 0.2s;

}


.left-header {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.rotate{
    transform: rotate(90deg);
    transition: ease-in-out 0.3s;

}
.header{
    background-color: transparent;
}
.scrol-color{
    background-color: #252323;
}

/*@media (max-width: 480px) {*/
/*    .menui{*/
/*        width: 30%;*/
/*    }*/
/*    .text-dropdown{*/
/*        font-size: 20px;*/
/*    }*/
/*    .text-mobile{*/
/*        font-size: 35px;*/
/*    }*/
/*}*/

.fito{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.5s;
}
.fito-popup {

}
.resimler{
    /*position: absolute;*/
    transition: ease-in-out 0.9s;
}
.qalerya-div{
    /*background-color: #0aa80a;*/
    width: 100%;
    /*position: relative;*/
}

.qalerya-cntre{
    /*position: unset;*/
}
.scl{
    width: 50%;
    height: 60%;
}

.blur{
    width: 100%;
    height: 83vh;
    background: rgba(255, 255, 255, 0.26);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.7px);
    -webkit-backdrop-filter: blur(17.7px);
    border: 1px solid rgba(255, 255, 255, 0.01);

    z-index: 25;
    position: absolute;
}




